/* Base pulse */
.pulse-wrapper {
    position: relative;
    width: 50px; /* lebih besar */
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pulse-wrapper svg {
    position: relative;
    top: 6px;
    left: 19.5px;
}
/* Pulse Glow */
.pulse-wrapper::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;

    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 50%;
    animation: pulseGlow 1.5s infinite;
    z-index: -1;
}

/* Warna Pulse */
.pulse-green::after {
    background: rgba(34, 197, 94, 0.45); /* hijau */
}

.pulse-yellow::after {
    background: rgba(234, 179, 8, 0.45); /* kuning */
}

.pulse-red::after {
    background: rgba(239, 68, 68, 0.45); /* merah */
}

/* Animasi Pulse */
@keyframes pulseGlow {
    0% {
        transform: scale(0.6);
        opacity: 0.8;
    }
    50% {
        transform: scale(1.8);
        opacity: 0.25;
    }
    100% {
        transform: scale(0.6);
        opacity: 0.8;
    }
}
